/*****************************************************************
Arquivo destinado a tudo que envolvem os botoes/links 
em relação a estilo
*****************************************************************/

button, input[type="button"],a
{
  cursor: url('./src/recursos/imagens/meu-cursorCLICK.png'), pointer;
}

.caixabotoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 20%;
  padding: 10px;
}

.botoes-menu {
  display: inline-block;
  width: min(300px, 28vw);
  height: min(150px, 24vh);
  background: url(/src/recursos/imagens/botao.png) no-repeat center;
  background-size: 90% 71%;
  color: white;
  cursor: url('./src/recursos/imagens/meu-cursorCLICK.png'), pointer;
  text-align: center;
  text-decoration: none;
  font-size: min(2.5vw, 48px);
  line-height: min(150px, 24vh);
  white-space: nowrap;
  border: none;
}

.botoes-partida {
     color: white;
    padding: 2vh 2vh;
    text-align: center;
    font-size: 1.8vw;
    cursor: url('./src/recursos/imagens/meu-cursorCLICK.png'), pointer;
    border: none;
    white-space: nowrap;
    flex: auto;
    max-width: 16vw;
    min-width: 10vw;
    text-transform: uppercase;
}



.botoes-partida:first-child {
  background: url('/src/recursos/imagens/botao3preto.png') no-repeat center;
  background-size: 100% 8vh;
}

.botoes-partida:nth-child(2) {
  background: url('/src/recursos/imagens/botao4vermelho.png') no-repeat center;
  background-size: 100% 8vh;
}

.acabou {
  cursor: not-allowed;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 14vh;
    background: url(/src/recursos/imagens/botao2.png) no-repeat center;
    background-size: 100% 100%;
    color: white;
    text-decoration: none;
    font-size: 3.5vw;
  }