button, input[type="button"],a
{
  cursor: url('./src/recursos/imagens/meu-cursor2.png'), pointer;
}

.caixabotoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 20%;
  padding: 10px;
}

.botoes-menu {
  display: inline-block;
  width: min(300px, 28vw);
  height: min(150px, 24vh);
  background: url(../recursos/imagens/botao.png) no-repeat center;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: min(3vw, 48px);
  line-height: min(150px, 24vh);
  white-space: nowrap;
  border: none;
}

.botoes-partida {
  color: white; 
  padding: 1.5vh 2vh;
  text-align: center;
  font-size: 1.8em;
  border-radius: 12px; /* Arredonda as bordas */

  border: none; /* Remove todas as bordas */
  cursor: pointer; /* Mostra cursor de "mão" quando hover sobre o elemento */
  white-space: nowrap; /* Impede quebra de linha no texto */
  flex: auto; /* Faz o elemento crescer/diminuir para ocupar espaço disponível no container flex */
  max-width: 180px; /* Define largura máxima de 180px */
  min-width: 120px; /* Define largura mínima de 120px */
  text-transform: uppercase; /* Transforma todo o texto em maiúsculas */
}


/*AZUL*/
.botoes-partida:first-child {
  background: url('/src/recursos/imagens/botao3preto.png') no-repeat center;
  background-size: 100% 5vh;
}

.botoes-partida:nth-child(2) {
  background: url('/src/recursos/imagens/botao4vermelho.png') no-repeat center;
  background-size: 100% 5vh;
}

.acabou {
  cursor: not-allowed;
}
