@charset "UTF-8";
@font-face {
  font-family: "Castelovanio";
  src: url(recursos/Fontes/fette-unz-fraktur.ttf);
}

@font-face {
  font-family: 'Alagard';
  src: url(recursos/Fontes/alagard.ttf);
}
/**********************************************************************
  ESTILO GERAIS
************************************************************************/
* {
  font-family: "Alagard", monospace;
  box-sizing: border-box;
  cursor: url('./recursos/imagens/meu-cursor1.png'), auto;
}
body {
  background-color: rgb(81, 2, 2);
  color: white;

}

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1#valor-mao {
  text-align: center;
  margin: 20px 0;
  font-size: 4vw;
  color: white;
}

img {
  height: 15vmin;
  width: 15vmin;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  max-height: 192px;
  max-width: 192px;
  min-height: 128px;
  min-width: 128px;
}
table {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
  border-collapse: collapse;
  width: 500px;

    background-color: rgba(15, 15, 15, 0.699);
    backdrop-filter: blur(12px);
    border-radius: 15px; 
    padding: 20px;
}
th, td {
    border: 5px solid #111111;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    position: relative;
}
td img {
  position: absolute;
  top: 50%;
  left: -150%;
  transform: translateY(-50%);
  max-width: 300px;
  max-height: 400px;
  width: auto;
  height: auto;
  border: 2px solid transparent;
  border-radius: 8px;
  visibility: hidden;
  background-color: transparent;
  z-index: 100;
}
