@charset "UTF-8";
@font-face {
  font-family: "Castelovanio";
  src: url(recursos/Fontes/fette-unz-fraktur.ttf);
}

@font-face {
  font-family: 'Alagard';
  src: url(recursos/Fontes/alagard.ttf);
}
/**********************************************************************
  ESTILO GERAIS
************************************************************************/
* {
  font-family: "Alagard", monospace;
  box-sizing: border-box;
  cursor: url('./recursos/imagens/meu-cursor1.png'), auto;
}
body {
  background-color: rgb(81, 2, 2);
  color: white;

}

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1#valor-mao {
  text-align: center;
  margin: 20px 0;
  font-size: 4vw;
  color: white;
}

img {
  height: 15vmin; /* Define altura como 12% da menor dimensão da viewport */
  width: 15vmin; /* Define largura como 12% da menor dimensão da viewport */
  image-rendering: crisp-edges; /* Renderização nítida para imagens pixeladas (webkit) */
  image-rendering: pixelated; /* Renderização pixelada para preservar pixels (padrão) */
  max-height: 192px; /* Altura máxima de 192 pixels */
  max-width: 192px; /* Largura máxima de 192 pixels */
  min-height: 128px; /* Altura mínima de 128 pixels */
  min-width: 128px; /* Largura mínima de 128 pixels */
}
